@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.item-nav {
    @apply flex flex-col justify-between  px-2 py-1;
}

/* Main section Admin */

.form {
    @apply max-w-sm h-[450px] p-5  rounded-md flex flex-col justify-between shadow-lg;

    input,
    select {
        @apply w-full block my-2 px-2 py-1 rounded shadow-md text-gray-500;
    }

    button {
        @apply bg-green-400 text-[20px] py-2 rounded-sm cursor-pointer hover:bg-green-500 hover:text-white transition ease-in-out duration-75;
    }
}

.menu-item {
    @apply gap-2 py-1;

    a {
        @apply px-2 block hover:bg-slate-300 rounded mr-auto;
    }
}

/* Main section Customer*/
.categories {
    @apply px-3 py-2 text-center bg-slate-200 rounded-md cursor-pointer shrink-0 flex-grow;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.menu-items {
    @apply grid grid-cols-5 gap-5 p-2;

    h3 {
        @apply font-bold text-xl mb-10;
    }

    .add-to-cart {
        @apply absolute bottom-0 left-1/2 transform -translate-x-1/2  bg-amber-500 text-white py-3 w-20 rounded-full text-xl hover:bg-amber-600 cursor-pointer;
    }
}

/* Cart style */

.minusQty,
.addQty {
    @apply bg-amber-500 p-2 cursor-pointer transform ease-in-out duration-75 hover:bg-amber-600 text-white rounded;
}

/* Order Style */

.btn-tab {
    @apply rounded px-3 py-2 cursor-pointer w-52;
}

/* Profile Setting Style */

.hover-setting {
    @apply relative  top-18 right-30 p-4 text-white font-semibold;
}

.arrow-up {
    @apply w-0 h-0 border-l-[10px] border-r-[10px] border-b-[10px] border-l-transparent border-r-transparent border-b-amber-500 mx-auto;
}

.settings {
    @apply flex flex-col bg-amber-500 py-4 w-40;
}

.profile-links {
    @apply hover:bg-amber-400 px-6;
}

.order-status-button {
    @apply w-full h-full px-2 py-3 cursor-pointer transition-all ease-in-out duration-75;
}

.profile-input-container {
    @apply flex gap-2 items-center mb-4;

    label{
        @apply w-16 text-gray-500
    }

    input {
        @apply flex-1 max-w-64
    }

    p {
        @apply w-16 text-gray-500
    }
}

.profile-input {
    @apply outline-0 border border-gray-300 rounded px-1 py-2 flex ;

}

.gender-btn {
    @apply flex gap-2 items-center mb-4;
    
    p {
        @apply w-16 text-gray-500
    }

    label{
        @apply w-16 text-gray-800
    }

    .radio-btn {
        @apply flex gap-1
    }
}


/* CHANGE PASSWORD SECTION */

.new-password {
    @apply w-full block border border-gray-300 p-2 rounded-sm outline-amber-500 mb-4;
}

.change-password {
    @apply bg-amber-500 text-white w-full p-2 rounded
}